#!/bin/bash
# provisions a tailscale relay instance
# TAILSCALE_AUTHKEY: handle automatic registering of this node in tailscale
# PRIVATE_SUBNETS: a comma separated list of all private subnets to route via this relay

echo 'net.ipv4.ip_forward = 1' | sudo tee -a /etc/sysctl.conf
echo 'net.ipv6.conf.all.forwarding = 1' | sudo tee -a /etc/sysctl.conf
sudo sysctl -p /etc/sysctl.conf
sudo systemctl enable --now tailscaled
sudo tailscale up --authkey "${TAILSCALE_AUTHKEY}" --advertise-routes=${PRIVATE_SUBNETS}
